/.project
/.settings
/shipping/.springBeans
/shipping/.settings
/shipping/target
/shipping/.classpath
/shipping/.project
/shipping-interfaces/.project
/shipping-interfaces/.settings
/shipping-interfaces/target
/shipping-interfaces/.classpath
